<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>
        Имя
      </th>
      <th>
        Сумма
      </th>
      <th>
        Участники
      </th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let item of tasks">
      <td>
        <a routerLink="/addOrEditTask" [queryParams]="{'id':item['id']}">{{item['name']}}</a>
      </td>
      <td>
        {{item['sum']}}
      </td>
      <td>
        <div *ngFor="let debtor of item['members']">
          <a routerLink="/debts" [queryParams]="{'memberId':debtor['id']}">{{debtor['name']}}</a>
        </div>
      </td>
      <td class="removetask">
        <button id="@item.Id" type="button" (click)="Delete(item)" class="btn btn-danger">×</button>
      </td>
    </tr>
  </tbody>
</table>
<a class="btn btn-primary">Add new</a>