<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>
        Имя
      </th>
      <th>
        Сумма
      </th>
      <th>
        Участники
      </th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let item of tasks; let idx = index">
      <td>
        <a routerLink="/addOrEditTask" [queryParams]="{'taskId':idx+1}">{{item['name']}}</a>
      </td>
      <td>
        {{item['sum']}}
      </td>
      <td>
        <div *ngFor="let debtor of item['members']">
          <a routerLink="/debts" [queryParams]="{'memberId':debtor['id']}">{{debtor['name']}}</a>
        </div>
      </td>
      <td class="removetask">
        <button type="button" (click)="Delete(item)" class="btn btn-danger">×</button>
      </td>
    </tr>
  </tbody>
</table>
<a class="btn btn-primary" routerLink="/addOrEditTask">Add new</a>
