  <div class="card-body">
    <div id="table" class="table-responsive">
      <table class="table table-bordered text-center">
        <colgroup span="1" class="colgroup"></colgroup>
        <thead class="aqua-gradient text-white">
          <tr>
            <th></th>
            <th *ngFor="let member of memberNames">{{member}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let memberOut of memberNames; let idxMemberOut = index">
            <td>
              {{memberOut}}
            </td>
            <td *ngFor="let memberIn of memberNames; let idxMemberIn = index">
              {{findValue(memberOut,memberIn)}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<router-outlet></router-outlet>
