<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>
        Имена
      </th>
      <th>
      </th>
    </tr>
  </thead>
  <tbody>
    <!-- <tr *ngFor="let debtor of debts">

      <td *ngIf="(memberName | lowercase) === (debtor['member1'] | lowercase)">
        <label>{{debtor['member2']}}</label>
      </td>
      <td *ngIf="(memberName | lowercase) === (debtor['member1'] | lowercase)">
        <label>Тебе должны {{debtor['money']}}</label>
      </td>
      <td *ngIf="!((memberName | lowercase) === (debtor['member1'] | lowercase))">
        <label>{{debtor['member1']}}</label>
      </td>
      <td *ngIf="!((memberName | lowercase) === (debtor['member1'] | lowercase))">
        <label>Ты должен {{debtor['money']}}</label>
      </td>

    </tr> -->
  </tbody>
</table>





<router-outlet></router-outlet>
