<header class="h-100">
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-light" [containerInside]="true">
    <mdb-navbar-brand>
      <a class="logo navbar-brand" href="#">
        <strong>Debts</strong>
      </a>
    </mdb-navbar-brand>
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item  waves-light">
          <a class="nav-link text-black" routerLink="tasks">Tasks</a>
        </li>

        <li class="nav-item  waves-light">
          <a class="nav-link text-black" routerLink="full-info">DebtInfo</a>
        </li>
      </ul>
      <div class="md-0 m-0 " *ngIf="currentUser; else elseBlock">
        <ul class="nav navbar-nav">
          <li>
            <a class="text-black mx-2">{{currentUser.email}}</a>
          </li>
          <li>
            <a class="text-black mx-2" (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>
      <ng-template #elseBlock>
        <ul class="nav navbar-nav navbar-right">
          <li><a class="text-black mx-2" routerLink="/login">Login</a></li>
          <li><a class="text-black mx-2" routerLink="/register">Register</a></li>
        </ul>
      </ng-template>
    </links>
    
  </mdb-navbar>

</header>
   


<!-- main app container -->
<main role="main" class="container">
  <alert></alert>
  <router-outlet></router-outlet>
</main>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.2/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
