<div class="card debttable">
  <h3 class="purple-gradient card-header text-center font-weight-bold text-uppercase py-4">{{memberName}}</h3>
  <div class="card-body">
    <div id="table" class="table-editable text-sm">
      <table class="table table-bordered table-responsive-md text-center">
        <colgroup span="1" class="colgroup"></colgroup>
        <thead class="purple-gradient white-text">
          <tr>
            <th>
              Name
            </th>
            <th>
              Money
            </th>
          </tr>
          </thead>
          <tr *ngFor="let debtor of debts">

            <td *ngIf="(memberName | lowercase) === (debtor['member1'] | lowercase)">
              <label>{{debtor['member2']}}</label>
            </td>
            <td *ngIf="(memberName | lowercase) === (debtor['member1'] | lowercase)">
              <label>His debt is <span class="text-monospace green-text">{{debtor['money']}}</span>&nbsp;<mdb-icon fas icon="money-bill-wave" size="lg" class="green-text"></mdb-icon></label>
            </td>
            <td *ngIf="!((memberName | lowercase) === (debtor['member1'] | lowercase))">
              <label>{{debtor['member1']}}</label>
            </td>
            <td *ngIf="!((memberName | lowercase) === (debtor['member1'] | lowercase))">
              <label>Your debt is <span class="text-monospace red-text">{{debtor['money']}}</span>&nbsp;<mdb-icon fas icon="money-bill-wave" size="lg" class="red-text"></mdb-icon></label>
            </td>

          </tr>
      </table>
    </div>
  </div>
</div>
