

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
<!-- Material form register -->
<mdb-card>

  <mdb-card-header class="info-color white-text text-center py-4">
    <h5>
      <strong>Register</strong>
    </h5>
  </mdb-card-header>

  <!--Card content-->
  <mdb-card-body class="px-lg-5 pt-0">

    <!-- Form -->
    <form class="text-center" style="color: #757575;" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <div class="form-row justify-content-center">
        <div class="col-12">
          <div class="md-form">
            <label for="email">Email</label>
            <input type="email" formControlName="email" id="email" class="form-control" mdbInput />
          </div>
          <label *ngIf="registerForm.get('email').touched && registerForm.get('email').errors?.required" class="text-danger">Email can't be empty.</label>
          <label *ngIf="registerForm.get('email').touched && registerForm.get('email').errors?.email" class="text-danger">Invalid email address.</label>
        </div>
        <div class="col-12" formGroupName="passwords">
          <div class="md-form">
            <label for="password">Password</label>
            <input type="password" formControlName="password" id="password" class="form-control" mdbInput />
          </div>
          <label class="text-danger" *ngIf="registerForm.get('passwords.password').touched && registerForm.get('passwords.password').errors?.required">Password can't be empty.</label>
          <label class="text-danger" *ngIf="registerForm.get('passwords.password').touched && registerForm.get('passwords.password').errors?.minlength">Password must be at least 4 characters.</label>
        </div>
        <div class="col-12" formGroupName="passwords">
          <div class="md-form">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword" mdbInput>
          </div>
          <label class="text-danger" *ngIf="registerForm.get('passwords.confirmPassword').touched && registerForm.get('passwords.confirmPassword').errors?.required">ConfirmPassword field can't be empty.</label>
          <label class="text-danger" *ngIf="registerForm.get('passwords.confirmPassword').touched && registerForm.get('passwords.confirmPassword').errors?.passwordMismatch">Confirm Password does not match.</label>
        </div>
      </div>

      <!-- Sign up button -->
      <button mdbBtn gradient="blue" outline="true" block="true" class="my-3 waves-effect z-depth-1" mdbWavesEffect type="submit" [disabled]="loading">
        <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Sign in
      </button>

      <p>
        <a routerLink="//login">Login</a>
      </p>

    </form>
    <!-- Form -->

  </mdb-card-body>

</mdb-card>
<!-- Material form register -->
  
    </div>
  </div>
</div>
