<!-- <div *ngIf="task">
  <h4 *ngIf="task.id !== '00000000-0000-0000-0000-000000000000'; else elseBlock">Edit {{task.name}}</h4>
  <ng-template #elseBlock><h4>Add task {{task.name}}</h4></ng-template>
  <div class="form-inline">
    <input type="hidden" [(ngModel)]="task.id" />
    <input type="hidden" [(ngModel)]="task.userid" />
    <label for="Name">Name</label>
    <input class="form-control m-2" [(ngModel)]="task.name" />
    <label for="Sum">Sum</label>
    <input class="form-control m-2" onkeyup="changeSum()" [(ngModel)]="task.sum" />
  </div>
  <div id="divMembers">
    <h4>Members</h4>
    <button type="button" (click)="addTaskMember()" class="btn btn-primary m-1">Add Member</button>
    <button type="button" (click)="save()" class="btn btn-success m-1">Save</button>
    <table class="memberstable">
      <tr>
        <th>Name</th>
        <th>Deposit</th>
        <th>Debt</th>
      </tr>
    </table>
    <div class="form-inline" *ngFor="let item of task?.members">
      <input type="hidden" [(ngModel)]="item.id">
      <input class="form-control m-2" [(ngModel)]="item.name">
      <input class="form-control m-2" [(ngModel)]="item.deposit">
      <input class="form-control m-2" [(ngModel)]="item.debt">
      <button class="btn btn-danger" (click)="delete(item)">x</button>
    </div>
  </div>
</div> -->
<div *ngIf="task">
  <h4 *ngIf="task.id !== '00000000-0000-0000-0000-000000000000'; else elseBlock">Edit {{task.name}}</h4>
  <ng-template #elseBlock>
    <h4>Add task {{task.name}}</h4>
  </ng-template>
  <form [formGroup]="editTaskForm" (submit)="saveTask(editTaskForm)">
    <div class="form-inline">
      <input formControlName="taskId" type="hidden" />
      <input formControlName="userId" type="hidden" />
      <div style="margin-right:10px;">
        <label for="name">Name</label>
          <div class="form-inline m-2 d-flex flex-column">
          <input formControlName="name" class="form-control nameInput" />
          <label class="text-danger-name"><span class="text-danger" *ngIf="editTaskForm.get('name').touched && editTaskForm.get('name').errors?.required">Name can't be empty.</span></label>
          </div>
        </div>

      <div>
        <label for="sum">Sum</label>
        <div class="form-inline m-2 d-flex flex-column">
          <input id="Sum" type="number" formControlName="sum" class="form-control nameInput" (keyup)="sumValidator()" />
          <div class="text-danger-sum">
            <div *ngIf="editTaskForm.get('sum').touched && editTaskForm.get('sum').errors">
              <span *ngIf="editTaskForm.get('sum').errors?.required">Sum can't be empty.</span>
              <span *ngIf="editTaskForm.get('sum').errors?.min">The Sum can't be negative.</span>
            </div>
            <span id="errorsum" class="text-danger">
              <label *ngIf="editTaskForm.get('sum').errors?.DepositSumError" class="text-danger">Sum of deposits not equal
                Sum.</label>
              <label *ngIf="editTaskForm.get('sum').errors?.DebtSumError" class="text-danger">Sum of debt not equal
                Sum.</label>
            </span>
          </div>
        </div>
        </div>
      </div>
    <div id="divMembers">
      <h4>Members</h4>
      <button type="button" (click)="addMember()" class="btn btn-primary m-1">Add Member</button>
      <button type="submit" class="btn btn-success m-1" [disabled]="!editTaskForm.valid">Save</button>
      <table class="memberstable">
        <tr>
          <th>Name</th>
          <th>Deposit</th>
          <th>Debt</th>
        </tr>
      </table>
      <div formArrayName="members">
        <div class="form-inline" *ngFor="let item of  taskMembers.controls; let idx = index" [formGroupName]="idx">
          <input type="hidden" formControlName="id" />
          <div class="form-inline d-flex flex-column">
            <input formControlName="name" class="form-control m-2 name" (keyup)="nameValidator(idx)"/>
            <div class="text-danger">
              <div *ngIf="item.get('name').errors">
                <span *ngIf="item.get('name').errors?.required">Name can't be empty.</span>
                <span *ngIf="item.get('name').errors?.qweqwe">Name can't be empty.</span>
              </div>
            </div>
          </div>
          <div class="form-inline d-flex flex-column">
            <input type="number" formControlName="deposit" class="form-control m-2 deposit" (keyup)="changeDeposit()" />
            <div class="text-danger">
              <div *ngIf="item.get('deposit').errors">
                <span *ngIf="item.get('deposit').errors?.required">Deposit can't be empty.</span>
                <span *ngIf="item.get('deposit').errors?.min">Deposit can't be negative.</span>
              </div>
            </div>
          </div>
          <div class="form-inline d-flex flex-column">
            <input type="number" formControlName="debt" class="saveDebt form-control m-2 debt" (keyup)="changeDebt($event)" />
            <div class="text-danger">
              <div *ngIf="item.get('debt').errors">
                <span *ngIf="item.get('debt').errors?.required">Debt can't be empty.</span>
                <span *ngIf="item.get('debt').errors?.min">Debt can't be negative.</span>
              </div>
            </div>
          </div>
          <button class="btn btn-danger removemember" (click)="deleteMember(idx)">x</button>
        </div>
      </div>
    </div>
  </form>
</div>

