/* You can add global styles to this file, and also import other style files */

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
  background: url("/assets/bg.jpg")no-repeat fixed;
  background-size: cover;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
  font-size: 20px;
  line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
  width: 100%;
}

/* QR code generator */
#qrCode {
  margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none;
  }
}

.btn-default {
  cursor: pointer;
  color: #000;
  background-color: #d3d3d3;
  border-color: #d5d5d5;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.text-black {
  color: #000;
}

.removetask {
  width: 1px;
}

.removetask > button {
  margin: 3px;
  width: 45px;
  height: 45px;
}

.btn-validation, label[for=Name], label[for=Sum] {
  margin-bottom: 24px;
}

.field-validation-valid {
  height: 24px;
}

.field-validation-error {
  color: #f00;
}

.validation-summary-errors {
  color: #f00;
  font-weight: bold;
}

.input-validation-error {
  border: 1px solid #f00;
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
}

.input-validation-error:focus {
  border: 1px solid #f00;
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25) !important;
}

input[type="checkbox"].input-validation-error {
  outline: 1px solid #f00;
}

.memberstable th {
  padding: 0 24px;
  font-size: 20px;
  text-align: center;
  width: 217px;
}

.text-danger-name, .text-danger-sum {
  color: #ff3547 !important;
  min-height: 43px;
}
.text-danger {

  font-size: 15px;
  min-height: 21px;
}

.removemember {
  margin-bottom:24px;
}

.notfound{
  font-size: 64px;
  color: lightslategray;
}

.tdmember{
  display: inline-block;
  border: 0!important;
}


@media (min-width: 768px) {
  .view {
    overflow: visible;
    margin-top: -56px;
  }
}

.navbar {
  z-index: 1;
  background-color: transparent;
  margin-bottom: 2rem;
}


.top-nav-collapse {
  background-color: #4285F4;
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #4285F4;
  }
}

.md-form .form-control {
  padding: 0.5rem 0 0.55rem 0!important;
  }

.btn{
  border-radius: 3rem!important;
}
table .md-form {
   margin-bottom: 0!important;
}

.removemember {
  width: 1px;
  padding:0!important;
}

.md-outline{
  .error-message{
    margin-top: 10px;
  }
}
.md-outline .form-control {
  padding: 0.5rem 0.5rem 0.5rem 0.6rem !important;
}

.debttable label, th{
  font-size: 20px !important;
}
.card-header{
  color: rgba(255, 255, 255, 0.95)!important;
}

#divMembers .btn{
  min-width:118px;
}
